// BASE COLORS
$color-white: #fff;
$color-white-2: #f7f9fc;
$color-black: #2d2d2d;
$color-background: #000;
$color-grey-light: rgba(196, 196, 196, 0.5);
$color-grey: #424954;
$color-green-light: #84fab0;
$color-green-light-2: #a4d541;
$color-green: #268812;
$color-green-dark: #09562a;
$color-blue-light: #8fd3f4;
$color-red: #ff4c4c;
