// BASE COLORS
$color-white: #FFF;
$color-white-2: #F7F9FC;
$color-black: #2d2d2d;
$color-grey-light: rgba(196, 196, 196, 0.5);
$color-grey: #424954;
$color-green-light: #84FAB0;
$color-green-light-2: #A4D541;
$color-green: #268812;
$color-green-dark: #09562A;
$color-blue-light: #8FD3F4;
$color-red: #FF4C4C;
