.type {
    &--bug {
        background-color: #87950C;
    }

    &--dark {
        background-color: #413831;
    }

    &--dragon {
        background-color: #7361D1;
    }

    &--electric {
        background-color: #E08D00;
    }

    &--fairy {
        background-color: #E29FE6;
    }

    &--fighting {
        background-color: #852816;
    }

    &--fire {
        background-color: #CF2C03;
    }

    &--flying {
        background-color: #8FA4FF;
    }

    &--ghost {
        background-color: #6969AF;
    }

    &--grass {
        background-color: #67AF32;
    }

    &--ground {
        background-color: #C5A455;
    }

    &--ice {
        background-color: #B4EDF8;
    }

    &--normal {
        background-color: #C4C0B4;
    }

    &--poison {
        background-color: #924990;
    }

    &--psychic {
        background-color: #E25484;
    }

    &--rock {
        background-color: #5E491C;
    }

    &--steel {
        background-color: #7F8488;
    }

    &--water {
        background-color: #3B9BF1;
    }
}
