.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-background;
}

.map {
  position: relative;
  height: 720px;
  width: 1280px;
  background: url("../../images/pageBackground.png") center;
  background-size: cover;
}

@media (max-width: 720px) {
  .map {
    width: 100%;
    height: 100vh;
  }
}
